.progress {
  height: 100px;
  border-radius: 0;
  background-color: transparent;
  background-image: url("../img/progress-bg.png");
  background-repeat: repeat-x;
  background-position-x: left;
}

.progress-bar {
  background-color: #9b8c00;
  transition: width 1.2s ease-out;
}

.img-thumbnail {
  padding: 0;
  border-color: #fff;
  border-radius: 0;
}

body {
  background-color: #000;
  letter-spacing: .2rem;
  color: #fff;
  font-family: "Oxygen Mono", monospace;
}

body *:focus {
  outline: #fff auto 5px !important;
  outline-offset: 2px;
}

button {
  cursor: pointer;
}

.application {
  min-height: 100vh;
}

.application.wrapper {
  position: relative;
}

.application.wrapper > .wrapper-content {
  position: relative;
  min-height: inherit;
  padding-bottom: 34px;
}

.application.wrapper > .wrapper-content .content-clean {
  padding: 0;
}

.application.wrapper > .wrapper-content .content-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  max-height: none;
  background-color: #746800;
  background-image: url("../img/yellow-bg.jpg");
  background-size: cover;
  opacity: .9;
}

.application.wrapper > .wrapper-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 34px;
  max-height: 34px;
  overflow: hidden;
}

.application.wrapper > .wrapper-footer .main-footer {
  height: 34px;
  color: #fff;
  font-size: .7rem;
  font-weight: 400;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.application.wrapper > .wrapper-footer .main-footer p {
  margin: 0;
  line-height: 34px;
}

.page-title {
  padding: 1.2rem 0 1.8rem;
}

.banner {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.6rem 0;
  color: #fff;
}

.banner p {
  margin: 0;
  font-size: .7em;
}

.banner p.lead {
  font-size: 2.2rem;
}

.banner figure {
  margin: 0;
}

.banner figure img {
  margin: 1.5rem 0;
}

.banner figure figcaption {
  color: #fff;
  font-size: 1em;
}

.branding {
  padding: 1.3em 0;
  text-align: center;
}

.vote-option.unselected {
  opacity: .2;
}

#voteForm {
  padding: 1rem 0;
}

#voteForm .number-key {
  margin: .4cm;
  width: 2cm;
  height: 2cm;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  font-size: 1.8em;
  transition: none;
}

#voteForm .number-key:active:not(:disabled) {
  margin-top: .5cm;
  margin-bottom: .3cm;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

#voteForm .number-key:focus:active {
  outline: none !important;
}

#voteForm .vote-field {
  margin: 2rem 0;
  width: 7.6cm;
  max-width: 90vw;
  min-width: 25vw;
  height: auto;
  box-shadow: inset 0 6px 18px rgba(0, 0, 0, 0.2);
  border-width: 0;
  border-radius: 0;
  padding: .375rem 1.75rem;
  line-height: 1;
  font-size: 50px;
  text-align: center;
}

#voteForm .vote-field:focus {
  box-shadow: inset 0 6px 18px rgba(0, 123, 255, 0.4);
}

#electionResults {
  position: relative;
  min-height: 663px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .3;
}

.loading > img {
  max-width: 100px;
  max-height: 100px;
}

.percent-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100px;
  background-color: #9b8c00;
}

.percent-box span {
  font-size: 3rem;
}

.percent-box small {
  font-size: 1.8rem;
}